* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* glass container */

.container {
  width: 420px;
  padding: 30px;

  background: rgba(255, 255, 255, 0.15);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

  text-align: center;
}

/* title */

h1 {
  margin-bottom: 20px;
}

/* form */

form {
  margin-bottom: 20px;
}

/* input */

input {
  padding: 10px;
  width: 65%;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* buttons */

button {
  padding: 10px 14px;
  margin-left: 5px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #6c63ff;
  color: white;
  transition: 0.2s;
}

button:hover {
  background: #574fd6;
}

/* list */

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  background: rgba(255, 255, 255, 0.2);
  padding: 8px 10px;
  border-radius: 8px;
}

/* grocery text */

span {
  cursor: pointer;
}

/* completed item */

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
